@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;900&display=swap');

@import 'react-redux-toastr/src/styles/index';
html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--mainFont), sans-serif;
	background: var(--gray900);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--mainFont: 'Outfit';

	--white: #fff;
	--black: #000;
	--red: #d11d1d;
	--dark-red: #9c0505;
	--dark_gray: #4b4b4b;
	--primary-color: #e30b13;
	--yellow700: #f5c521;
	--gray300: #d9dae8;
	--gray500: #999aa5;
	--gray600: #66676e;
	--gray700: #39393f;
	--gray800: #242529;
	--gray900: #191b1f;
	--gray950: #101215;
}

input {
	border-radius: 0;
	appearance: none;
	border: none;
	&:focus {
		outline: none;
		box-shadow: none !important;
	}

	&[type='file'] {
		cursor: pointer;
	}
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nprogress .bar {
	background: var(--red) !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px var(--red), 0 0 5px var(--red) !important;
}

.fadeIn {
	opacity: 1 !important;
}
